header{
    background-color: darkslateblue;
    height: 177px;
    font-size: 0,8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.container, .logo, .menubar, .site_content, footer{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 880px;
    padding-bottom: 40px;
}